@model IEnumerable<Test>

@{
    ViewData["Title"] = "Все тесты";
}

<h1>Все вопросы</h1>
<table cellspacing="1" cellpadding="4">
    @foreach (var test in Model)
    {
        <tr>
            <td align="left">@test.Name</td>
            <td align="left">Время: @test.Time мин.</td>
            <td align="right"><a class="btn btn-primary">Подробнее</a></td>
        </tr>
    }
</table>
