@model IEnumerable<Test>

@{
    ViewData["Title"] = "Все тесты";
}

<h1>Все доступные тесты</h1>
<a class="btn btn-success" asp-controller="Tests" asp-action="Create">Добавить новый</a> 
<table cellspacing="1" cellpadding="4">
    @foreach (var test in Model)
    {
        <tr>
            <td align="left">@test.Name</td>
            <td align="left">Время: @test.Time мин.</td>
            
            <td align="right"><a class="btn btn-primary" asp-controller="Tests" asp-action="Detail" asp-route-id="@test.Id">Подробнее</a></td>
            <td align="right"><a class="btn btn-danger" asp-controller="Tests" asp-action="Delete" asp-route-id="@test.Id">Удалить</a></td>
        </tr>
    }
</table>
