@model TestResultViewModel
@{
    ViewData["Title"] = "Результаты";
}

<h1>Результат по тесту #@Model.Test.Id</h1>
<p><b>Название: </b> @Model.Test.Name</p>
<p><b>Результат: </b> @Model.RightAnswers / @Model.Answers</p>
<p class="data-output"><b>Окончен: </b> @Model.finished</p>

<a class="button primary" asp-action="Index" asp-controller="Tests">Ок</a>

