@model IEnumerable<Category>
  
@{
    ViewData["Title"] = "Тестирующая система!";
}

<div id="main">
    <div class="inner">
        <header>
            <h1>
                Добро пожаловать в нашу тестирующую систему!
            </h1>
            <p>Брось вызов себе! Узнай насколько ты прокачал себя! Соревнуйся с друзьями и делись результами</p>
        </header>
        <h2>Популярные категории тестов</h2>
        <section class="tiles">
            @foreach (var (item, index) in Model.Select((item, index) => (item, index)).Take(3))
            {
                <article class=@String.Concat("style", index+1%6 )>
                    <span class="image">
                        <img src="~/img/pic1.jpg" alt="" />
                    </span>
                    <a href="categories/@item.Id">
                        <h2>@item.Name</h2>
                        <div class="content">
                            <p>@item.Description</p>
                        </div>
                    </a>
                </article>
            }
            <div>
                <a class="button mt-5" style="display:block;" href="categories">Посмотреть все категории</a>
            </div>
        </section>
    </div>
</div>
