<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Ошибка <span class="badge badge-secondary">@ViewBag.Code</span></h1>
        <a class="lead" asp-area="" asp-controller="Home" asp-action="Index">Щелкните здесь, чтобы перейти на главную страницу</a>
    </div>
</div>