<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>На веб-сайте произошла ошибка</h1>
        <b>Пожалуйста, свяжитесь с нами по адресу: asp.net.core.blog@gmail.com</b>
    </div>
</div>