body, p {
    margin: 0px;
    padding: 0px;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-body p {
    text-align:center;
    height: 100%;
    margin: auto 0px;
}
