<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/main-template.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <div class="logo">
                    <span class="symbol"><img src="~/img/logo.png" alt="лого" /></span><span class="title">Тестирующая система</span>
                </div>

                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Меню</h2>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Categories" asp-action="Index">Категории тестов</a></li>
                <li><a asp-controller="Tests" asp-action="Index">Тесты</a></li>
            </ul>

            @if (User.Identity.IsAuthenticated)
            {
                <ul>
                    <li><a asp-action="Index" asp-controller="MyResults">Мои результаты</a></li>
                </ul>
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="button primary">Выйти</button>
                </form>
            }
            else
            {
                <ul class="mt-5">
                    <li><a asp-controller="Account" asp-action="Login">Войти</a></li>
                    <li><a asp-controller="Account" asp-action="Register">Регистрация</a></li>
                </ul>
            }
                
            </nav>
        <div class="container mt-3">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/CorrectDateTime.js"></script>
</body>
</html>
