@model QuestionViewModel

@{ 
    ViewData["Title"] = "Добавить вопрос";
}

<h1>Добавление вопроса:</h1>
<form method="post" asp-action="AddQuestion" asp-controller="Questions">
    <div asp-validation-summary="ModelOnly"></div>
    <div><input type="text" placeholder="Название вопроса" asp-for="@Model.Name" /></div>
    <div>
        <h6>Варианты ответов:</h6>
        <table cellspacing="1" cellpadding="4">
            @if (Model.Answers != null)
            {
                @foreach (var (answer, index) in Model.Answers.Select((answer, index) => (answer, index)))
                {
                    <tr>
                        <td><input type="text" name="Answers[@index].Name" value="@answer.Name" /></td>
                        <td><a>Удалить</a></td>
                    </tr>
                }
            }

        </table>
    </div>
    <button class="button primary" type="submit" asp-route-testId="@Model.TestId">Добавить</button>
</form>
<a class="button" asp-action="Update" asp-controller="Tests" asp-route-testId="@Model.TestId">Назад</a>