@model QuestionViewModel

@{
    ViewData["Title"] = "Редактирование вопроса";
}

<h1>Редактирование вопроса вопроса:</h1>
<form method="post" asp-action="Update" asp-controller="Tests">
    <div asp-validation-summary="ModelOnly"></div>
    <div><input type="text" placeholder="Название вопроса" asp-for="@Model.Name" /></div>
    <div>
        <h6>Варианты ответов:</h6>
        @if (Model.Answers != null)
        {
            @foreach (var (answer, index) in Model.Answers.Select((answer, index) => (answer, index)))
            {
                <input type="text" name="Answers[@index].Name" value="@answer.Name" />
            }
        }
    </div>
    <button class="button primary" type="submit" asp-route-id="@Model.TestId">Обновить</button>
</form>
<a class="button" asp-action="Update" asp-controller="Tests" asp-route-id="@Model.TestId">Назад</a>